body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: black;
    color: white;
  }

  #inputBoxes{
    margin: 2em 0 1em;
  }

  #timer {
    font-size: 8em;
    font-weight: bold;
    margin: 1em 0 1em;
  }

  #controls {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .time-input {
    font-size: 16px;
    padding: 8px;
    text-align: center;
    width: 60px;
    margin: 0 5px 50px;
  }